#env.example
# Configuración del Splitter (Fragmentación)
INGESTION_CHUNK_SIZE=1000
INGESTION_CHUNK_OVERLAP=200

# Configuración de Embeddings
EMBEDDING_PROVIDER="huggingface"
EMBEDDING_MODEL_HF="sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2"

# modelo GEMINI
GOOGLE_API_KEY=""
GOOGLE_MODEL_NAME=""

# Variables de Recuperacion semantica 
VECTOR_RETRIEVAL_K=10
RAG_TOP_N=5


# Variables de neo4j (docker compose)
NEO4J_URI=bolt://localhost:7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=tutorISgraph

#Modo SELF_RAG
USE_SELF_RAG=True